{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card text-dark bg-light my-3 p-1" style="width: 16rem;">
                 <img class="card-img-top" src="{{i.img.url}}" alt="photo" height="250px" width="150px">
                 <div class="card-body">
                     <h5 class="card-title text-truncate">{{i.name}}</h5>
                     <p class="card-text text-truncate">{{i.desc}}</p>
                     <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">view</a>
                 </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock %}